<div class="container">
 
<form th:action="@{/users}" method="post" th:object="${userModel.user}" id="userForm">
	<input type="hidden" name="id" th:value="*{id}">
	
	<div class="form-group ">
		<label for="username" class="col-form-label">Username</label>
		<input type="text" class="form-control" id="username" name="username"  th:value="*{username}" maxlength="50" placeholder="Please enter username, 2 to 20 characters">

	</div>
	<div class="form-group">
		<label for="email" class="col-form-label">Email</label>
		<input type="email" class="form-control" id="email" name="email" th:value="*{email}" maxlength="50" placeholder="Please enter email">
	</div>
	<div class="form-group">
		<label for="name" class="col-form-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" th:value="*{name}" maxlength="20" placeholder="Please enter name, 2 to 20 character" >
	</div>
	<div class="form-group">
		<label for="password" class="col-form-label">Password</label>
		<input type="password" class="form-control" id="password" name="password"  th:value="*{password}" maxlength="30" placeholder="Please enter password" >
	</div>
	<div class="form-group">
		<label for="authorities" class="col-form-label">Role</label>
  		<select id="authorities" name="authorityId" class="form-control form-control-chosen" data-placeholder="Please select">
		  <option value="1">Admin</option>
		  <option value="2">User</option>
		</select>
	</div>
</form>
 
</div>
<!-- /.container -->
 